:root {
    --primary-color: #ffffff;
    --secondary-color: #363636;
    --nav-color: #5f9ea0;
    --toggle-dark: #0b090a;
    --toggle-white: #ffffff;
    --lightblue:#0466c8; /* Action */
    --darkblue: #002855; /* Action */
    --orange: #fca311; /* Comedy */
    --blue: #14213d; /* Comedy */
    --red: #ba181b; /* Horror */
    --darkblack: #161a1d; /* Horror */
    --lightpink: #ffa6c1; /* Romance */
    --darkpink: #cd4257; /* Romance */
  }
/* Brians hero css styling  */
header {
    background-color: var(--lightblue);
    color: var(--toggle-white);
}

.hero-image {
    background-image: url("//assets/images/thumb-1920-1007550\ \(2\).jpg");
    background-size: cover;
    background-attachment: fixed;
    height:100%;
    
}

.hero-style {
    text-align: center;
}


/* Brians css styling end */





/* Mya styling navbar start */

.dark-theme {
    --primary-color: #363636;
    --secondary-color: #ffffff;
    --nav-color: rgba(255, 0, 0, 0.651);
}

html {
    height: 100%;
}

#nav {
    background-color: var(--nav-color);
}



.title, .navbar-item {
    color: var(--secondary-color);
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--primary-color);
	align-items: center;
	height: 100vh;
	margin: 0;
	transition: background 0.2s linear;
}

body.dark {
	background: #292C35;
    color: cornsilk
}



.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}




/* Mya styling navbar end */


header {
    background-color: var(--lightblue);
    color: var(--toggle-white);
}



/* mya media styling */
@media screen and (max-width: 1023px)
{
    .navbar-menu {
    background-color: var(--nav-color)
}
}







/* Devin card styling section develop 2.0  */
.hero-body-d{
    display: flex;
    grid-template-rows:repeat(3,1fr) ;
    
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows:repeat(3,1fr) ;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
  
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    justify-content: center;
    grid-row: 1fr;
    color: var(--toggle-white);
  }

  .card-image {
    grid-area: image;
  }
  .card-text {
    grid-area: text;
  }
  .card-stats {
    grid-area: stats; 
  }

  .card-image {
    grid-area: image;
    background: url("");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }

  .card-text {
    background-color: var(--lightblue);
    grid-area: text;
    border-radius: 15px;
    margin: 25px;
  }
  .card-text .date {
    color: var(--toggle-white);
    font-size:13px;
  }
  .card-text p {
    color: var(--toggle-white);
    background-color: var(--lightblue);
    border-radius: 5px;
    padding: auto;
    font-size:15px;
    font-weight: 300;
  }
  .card-text h2 {
    margin-top:0px;
    font-size:28px;
  }

  .card-stats-1 {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: var(--darkblue);
  }

  .card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    color: white;
    padding:10px;
  }

  .card:hover {
    transform: scale(1.07);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .card {
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }







  /* top of the page styling starts here Rodney P */


/* the what to watch header hero */

.c2,
.c4 {
    color: white;
    background-color: rgba(12, 1, 1, 0.50);
    border-radius: 10px;
    padding: 0px 3px;
}

.top-of-page {
    font-size: 3vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.top-of-page p,
.top-of-page h1 {
    margin: 5px 0px;
}

header div .c3 {
    background-color: rgb(255, 255, 255);
    margin-right: 15px;
    margin-left: 15px;
    color: var(--blue);
    padding-left: 5px;
    padding-right: 2px;
    border-radius: 20px;
}


/* header hero ends */


/* styles for the p under the hero starts */

div p {
    max-width: 90%;
    width: 100%;
    text-align: center;
}


/* styles for the p under the hero ends */


/* media query for 768px start*/

@media screen and (max-width: 768px) {
    .c2,
    .c4 {
        color: white;
        background-color: rgba(12, 1, 1, 0.50);
        border-radius: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .top-of-page p {
        font-size: 3vw;
    }
}


/* media query for 768px ends */


/* media query for 500px starts */

@media screen and (max-width: 500px) {
    .c2,
    .c4 {
        color: white;
        background-color: rgba(12, 1, 1, 0.5);
    }
    header div .c3 {
        padding-left: 5px;
        margin-top: 2px;
    }
    .top-of-page h1 {
        font-size: 8vw;
        display: grid;
        margin-top: 2px;
        margin-bottom: 0px;
        justify-content: center;
    }
    .top-of-page p {
        font-size: 5vw;
    }
}


/* Rodney P header finish */


/* Romance html styling  */

#romance-hero-color{
  background-color: var(--lightpink);
  color: #fff;
}

#romance-header-color{
  background-color: var(--darkpink);
}

/* Action html styling */

#action-hero-color{
  background-color: var(--lightblue);
  color: #fff;
}

#action-header-color{
  background-color: var(--darkblue);
}

#horror-hero-color{
  background-color: var(--red);
  color: #fff;
}

#horror-header-color{
  background-color: var(--darkblack);
}

#comedy-hero-color{
  background-color: var(--orange);
  color: #fff;
}

#comedy-header-color{
  background-color: var(--blue);
}